{% extends 'layouts/base.html.twig' %}

{% block title %} {% trans %}Change Password {% endtrans %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="my-5 text-center" >{% trans %}Change Password{% endtrans %}</h1>
            
            {{ form_start(form) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary btn-lg btn-clock">
                    {% trans %}Update password{% endtrans %}
                </button>
                

            {{ form_end(form) }}


        </div>
    </div>
{% endblock %} 