{% extends 'layouts/base.html.twig' %}

{% block title %}{% trans %}Reset your password{% endtrans %}{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="mt-5 mb-3 text-center">{% trans %}Reset your password{% endtrans %}</h1>

        <div class="col-md-6 mx-auto">
            {% for flash_error in app.flashes('reset_password_error') %}
            <div class="mb-3 rounded alert alert-error" role="alert">{{ flash_error }}</div>
            {% endfor %}

                <p class="mb-5 text-center text-muted">
                    {% trans %}Enter your email address and we will send you a
                    link to reset your password.{% endtrans %}
                </p>

            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <div>
                    
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block">{% trans %}Send password reset email{% endtrans %}</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
