{% extends 'layouts/base.html.twig' %}

{% block body %}
    <h1>Admin Index</h1>

        {% if is_granted('ROLE_USER') %}
        <p>Cool User</p>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <p>Cool Admin</p>
        {% endif %}

{% endblock %}
