@import url('https://fonts.googleapis.com/css2?family=Athiti&family=Fjalla+One&family=Inter&family=Lato&family=Nunito&family=Open+Sans:wght@400;500;700&family=Raleway&display=swap');

@import 'shared/_variables';

@import "~bootstrap/scss/bootstrap";
// ~ correspond à node_modules



    body {
        background-color: lightgray;
        font-family: $primary-font, sans-serif;
    }


    .vich-image{

        .form-check{
            @extend .mt-3;
        }

        img{
        @extend .mb-2, .rounded, .shadow, .img-thumbnail;
        }
    }

    .pin img{
        &:hover{
            transform:scale(1.075)        ;
            -webkit-transform:scale(1.075)        ;
            -moz-transform:scale(1.075)        ;
            -ms-transform:scale(1.075)        ;
            -o-transform:scale(1.075)        ;
            transition: transform 0.3s ease-out;
            -webkit-transition: transform 0.3s ease-out;
            -moz-transition: transform 0.3s ease-out;
            -ms-transition: transform 0.3s ease-out;
            -o-transition: transform 0.3s ease-out;
}
    }


    .alert {
        padding: 10px;
        color:white;
        text-align:center;
        margin:0;
        border:none;
        border-radius:0;

        &.alert-success{
            background-color:green;
        } 
        
        &.alert-error{
            background-color:red;
        }

        &.alert-info{
            background-color:blue;
        }
    }
    
    
    