{% extends 'layouts/base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>{% trans %}Oops! An error Occured{% endtrans %}</h1>

        <h2>{% trans %}The server returned a "403 Forbidden".{% endtrans %}</h2>
    <p>
        {% trans %}You cannot access this page. Go back to home {% endtrans %}<a href="{{ path('app_home') }}">return to the homepage</a>.
    </p>
    </div>
</div>

{% endblock %}